{% extends "profile/profile_base.html.twig" %}

{% block title %}Change password{% endblock %}
{% block content %}
<section id="loginform">
    <h2>Change Password</h2>
    <form action="{{URL}}profile/changePasswordSave" method="post">
        <label for="user_old_password">Old Password</label>
        <input type="text" name="user_old_password" id="user_old_password" maxlength="8" required/><br>
        <label for="user_new_password">New Password</label>
        <span class="desc">Choose a password that is 6-8 characters long</span>
        <input type="text" name="user_new_password" id="user_new_password" maxlength="8" required/><br>
        <input type="submit"  value="Change Password"class="submit-button" />
        <p><a href="{{URL}}home">No, let me go back</a></p>
    </form>
</section>    
{% endblock %}