{% extends "layout.html.twig" %}
{% block nav %}{{ parent() }}
	<li><a href="{{URL}}login/register">Register</a></li>
    <li><a href="{{URL}}login/index">Login</a></li>
{% endblock %}
{% block login %}{% endblock %}
