{% extends "error/error_base.html.twig" %}

{% block content %}
<section id="errorform">
    <h2>Approval pending</h2>
    <p>You have to be approved by our staff befor you can login to the site. <br><br>
    If you are newly registered, please wait until you receive the approval intimation from the website.<br><br>
    Please contact the <a href="http://www.malabarbiblecourses.org/contact-us">Manager</a> for any queries or, if were approved previously but still led to this page.</p>
</section>
{% endblock %}