{% extends "error/error_base.html.twig" %}

{% block content %}
<section id="errorform">
    <h2>Registration Accepted</h2>
    <p>Thankyou for your registration.  An email has been sent you with your registration details.<br><br>
    Please wait for our staff to review your application and approve it.<br>
    You will receive an email from the Course Manager very soon and he will guide you through the process of course enrollment.<br>
    Once approved you will be able to login to the website using the given email and password.<br><br>
    Please contact the <a href="http://www.malabarbiblecourses.org/contact-us">Manager</a> for any queries, or if you do not receive the approval email within a few days.</p>
</section>
{% endblock %}