{% extends "layout.html.twig" %}
{% block title %}Error{% endblock %}
{% block nav %}{{ parent() }}
	<li><a href="{{URL}}home">Home</a></li>
    <li><a href="{{URL}}login/index">Login</a></li>
{% endblock %}
{% block feedback %}{% endblock %}
{% block login %}{% endblock %}