{% extends "error/error_base.html.twig" %}

{% block content %}
<section id="errorform">
    <h2>Unidentified error</h2>
    {# <p>Something has gone horribly wrong. Stay cool though!</p> #}
    <p>An unidentified error has occurred!!<br>Please contact the <a href="http://www.malabarbiblecourses.org/contact-us">Manager</a> if the error persists.</p>
</section>
{% endblock %}
