{% extends "error/error_base.html.twig" %}

{% block content %}
<section id="errorform">
        <h2>Invalid page</h2>
        <p>The page you have requested does not exist!!<br>Please contact the <a href="http://www.malabarbiblecourses.org/contact-us">Manager</a> if the error persists.</p>
</section>
{% endblock %}