{% extends "error/error_base.html.twig" %}

{% block content %}
<section id="errorform">
    <h2>Authorisation error</h2>
    <p>You are not authorised to view this page!!<br>Please contact the <a href="http://www.malabarbiblecourses.org/contact-us">Manager</a> if you think there is some problem.</p>
</section>
{% endblock %}