{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{# no feedback display needed here as this is just a confimation request page #}
{% block content %}
    <h1>Welcome</h1>
    <div class="content">
        <h2>Welcome to </h2>
        <p>Delete?</p>
        <div>
            <h1>Are you sure?</h1>
            <form action="{{URL}}user/deleteSave" method="post">
                <p> Are you sure to delete the user {{user.name}} ?
                    <input type="hidden" name="user_id" value="{{user.id}}">
                    <input type="submit" text="yes" class="user-submit-button" /><br>
                    <a href="{{URL}}user">No, Let me go back</a>
            </form>
        </div>        

    </div>  <!-- end content -->

{% endblock %}