{% extends "manager/manager_base.html.twig" %}

{% block title %}Delete user{% endblock %}
{% block feedback %}{# no feedback display needed here as this is just a confimation request page #}{% endblock %}

{% block content %}
<section id="userform">
    <h2>Delete</h2>
    <p>Are you sure to delete the user "{{user.name}}"?</p>
    <span class="desc">Note that the user doing/teaching a course cannot be deleted.</span>    
    <form action="{{URL}}user/deletesave" method="post">
        <input type="hidden" name="user_id" value="{{user.id}}">
        <input type="submit" text="yes" class="submit-button" value="Delete user" /><br>
        <a href="{{LAST_URL}}">No, Let me go back</a>
    </form>
</section>
{% endblock %}