/* Just for demo 
 * Replace with proper css */

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-size: 1em;
}

.content {
    border: 2px solid green;
    padding: 20px;
    margin: 10px;
}


.bold {
    font-weight: bold;
}

.feedback {
    display: block;
    /*border:3px solid red;*/
}
.failure {
    color: red;
}
.success {
    color: green;
}
