{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}
{% block content %}
    <h1>Welcome</h1>
    <div class="content">
        <h2>Change Password</h2>
        <form action="{{URL}}login/changePasswordSave" method="post">
            <label>Old Password</label>
            <input type="text" name="user_old_password" maxlength="8" required/><br>
            <label>New Password</label>
            <input type="text" name="user_new_password" maxlength="8" required/><br>
            <input type="submit" class="submit-button" />
        </form>
    </div>  <!-- end content -->

{% endblock %}