{% extends "student/student_base.html.twig" %}

{% block title %}Course mates{% endblock %}

{% block content %}
<section id="userform">
    <h2>Course mates</h2>
    <p>These are the list of other students taking the same course<br>
        You can contact them if you wish, but please respect their privacy and keep the email confidential.</p>
    <table>
                <tr><td>No</td><td>Name</td><td>Email</td></tr>
            {% for student in students %}
                
                <tr><td>{{loop.index}}</td><td>{{student.name}}</td><td>{{student.email}}</td>
                </tr>
            {% endfor %}
    </table>
</section>
{% endblock %}