{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{# no feedback display needed here as this is just a confimation request page #}
{% block content %}
    <h1>Welcome</h1>
    <div class="content">
        <h2>Welcome to </h2>
        <p>Students doing ths same course</p>
        <div>
            <h1>Are you sure?</h1>
            
            {% for student in students %}
                <tr><td>No</td><td>Name</td><td>Email</td></tr>
                <tr><td>{{loop.index}}</td><td>{{student.name}}</td><td>{{student.email}}</td>
                </tr>
            {% endfor %}
        </div>        

    </div>  <!-- end content -->

{% endblock %}