{% extends "layout.html.twig" %}
{% block nav %}
	{{ parent() }}
	<li><a href="{{URL}}student">Home</a></li>
    <li><a href="http://www.malabarbiblecourses.org/courses">Courses</a></li>
	<li><a href="http://www.malabarbiblecourses.org/">Instructors</a></li>
	<li><a href="http://www.malabarbiblecourses.org/">Forum</a></li>
{% endblock %}