{% extends "manager/manager.html.twig" %}

{% block title %}Delete course{% endblock %}
{% block feedback %}{# no feedback display needed here as this is just a confimation request page #}{% endblock %}

{% block content %}
<section id="courseform">
    <h2>Delete</h2>
    <p>Are you sure to delete the course {{course.name}}?</p>
    <span class="desc">Note that if the course is taken by students, it cannot be deleted.</span>
    <form action="{{URL}}course/deleteSave" method="post">
        <input type="hidden" name="course_id" value="{{course.id}}">
        <input type="submit" value="Yes, delete it" class="submit-button" />
        <a href="{{URL}}course">No, Let me go back</a>
    </form>
</section>
{% endblock %}