{% extends "layout.html.twig" %}
{% block nav %}
	{{ parent() }}
	<li><a href="{{URL}}home">Home</a></li>
    <li><a href="{{WWW}}courses">Courses</a></li>
    <li><a href="{{WWW}}instructors">Instructors</a></li>
{% endblock %}